*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    color: white;
    
    text-align: center;
    align-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: #e7000000;
}
footer {
    height: 5vh;
    color: white;
    background-color: #665454;

    font-weight: 800;
    font-family: Arial, sans-serif;

    text-align: center;
    align-content: center;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #000000;
    border: none;
}